<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>メンバーの検索</title>
<link href="../common/css/bootstrap.min.css" rel="stylesheet">
<link href="../common/css/harmosCommon.css" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="../BU_00_common/SC_00_01_02_harmosHome.html" class="navbar-brand">Harmos</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse"
					data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" id="navbar-main">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#" id="menus">メニュー１<span
							class="caret"></span></a>
						<ul class="dropdown-menu" aria-labelledby="themes">
							<li><a href="../BU_01_memberAndEventMng/SC_01_01_01_menberSearch.html">メンバーの検索</a></li>
							<li><a href="../BU_01_memberAndEventMng/SC_01_01_02_menberRegister.html">メンバーの登録</a></li>
							<li><a href="../BU_01_memberAndEventMng/SC_01_02_01_eventSearch.html">イベントの検索</a></li>
							<li><a href="../BU_01_memberAndEventMng/SC_01_02_02_eventRegister.html">イベントの登録</a></li>
						</ul>
					</li>
					<li><a href="#">Help</a></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<p class="navbar-text">
						ようこそ <a href="#" class="navbar-link">ゲスト</a> さん
					</p>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<a data-toggle="collapse" href="#searchCondition">
					検索条件
				</a>
			</div>
			
			<div id="searchCondition" class="panel-body panel-collapse collapse in">
				<div class="row">
					<div class="col-md-2">
						<div class="margin2Box">名前（漢字）</div>
					</div>
					<div class="col-md-2">
						<div class="margin2Box">
							<input class="form-control" id="firstNameKanji" placeholder="姓"　type="text">
						</div>
					</div>
					<div class="col-md-2">
						<div class="margin2Box">
							<input class="form-control" id="lastNameKanji" placeholder="名"　type="text">
						</div>
					</div>
					
					<div class="col-md-2">
						<div class="margin2Box">名前（カナ）</div>
					</div>
					<div class="col-md-2">
						<div class="margin2Box">
							<input class="form-control" id="firstNameKana" placeholder="セイ"　type="text">
						</div>
					</div>
					<div class="col-md-2">
						<div class="margin2Box">
							<input class="form-control" id="lastNameKana" placeholder="メイ"　type="text">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2">
						<div class="margin2Box">ニックネーム</div>
					</div>
					<div class="col-md-4">
						<div class="margin2Box">
							<input class="form-control" id="nickName" type="text">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2">
						<div class="margin2Box">生年月日</div>
					</div>
					<div class="col-md-2">
						<div class="margin2Box">
							<input class="form-control" id="seinenGappiFrom" type="text">
						</div>
					</div>
					<div class="col-md-2">
						<div class="margin2Box">
							<input class="form-control" id="seinenGappiTo" type="text">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2">
						<div class="margin2Box">電話番号</div>
					</div>
					<div class="col-md-2">
						<div class="margin2Box">
							<input class="form-control" id="tellNum" type="text">
						</div>
					</div>
					<div class="col-md-2">
						<div class="margin2Box">
							<select class="form-control" id="searchKbn" name="searchKbn">
								<option value="bubunIcchi" selected>部分一致</option>
								<option value="zenpoIcchi">前方一致</option>
								<option value="kohoIcchi">後方一致</option>
								<option value="kanzenIcchi">完全一致</option>
							</select>
						</div>
					</div>
				
					<div class="col-md-2">
						<div class="margin2Box">FAX番号</div>
					</div>
					<div class="col-md-2">
						<div class="margin2Box">
							<input class="form-control" id="faxNum" type="text">
						</div>
					</div>
					<div class="col-md-2">
						<div class="margin2Box">
							<select class="form-control" id="searchKbn" name="searchKbn">
								<option value="bubunIcchi" selected>部分一致</option>
								<option value="zenpoIcchi">前方一致</option>
								<option value="kohoIcchi">後方一致</option>
								<option value="kanzenIcchi">完全一致</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2">
						<div class="margin2Box">郵便番号</div>
					</div>
					<div class="col-md-2">
						<div class="margin2Box">
							<input class="form-control" id="postalNum" type="text">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2">
						<div class="margin2Box">都道府県</div>
					</div>
					<div class="col-md-2">
						<div class="margin2Box">
							<select class="form-control" id="todouhuken" name="todouhuken">
								<option value="fukuoka">福岡</option>
								<option value="oita">大分</option>
								<option value="saga">佐賀</option>
								<option value="kumamoto">熊本</option>
								<option value="miyazaki">宮崎</option>
								<option value="kagoshima" selected>鹿児島</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2">
						<div class="margin2Box">住所</div>
					</div>
					<div class="col-md-10">
						<div class="margin2Box">
							<input class="form-control" id="address" type="text">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-2">
						<div class="margin2Box">職業</div>
					</div>
					<div class="col-md-10">
						<div class="margin2Box">
							<input type="checkbox">&nbsp;学生
							<input type="checkbox">&nbsp;会社員
							<input type="checkbox">&nbsp;自営業
							<input type="checkbox">&nbsp;フリーター・パート
							<input type="checkbox">&nbsp;主婦
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-2 col-md-offset-5">
				<div class="margin30Box harmosSearchButton">
					<button class="btn btn-primary harmos_w_120">検索</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>No.</th>
						<th>名前</th>
						<th>生年月日</th>
						<th>電話番号</th>
						<th>FAX番号</th>
						<th>郵便番号</th>
						<th>都道府県</th>
						<th>住所</th>
						<th>備考</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>中島　直也</td>
						<td>1987/10/05</td>
						<td>070-5415-6507</td>
						<td></td>
						<td>814-0031</td>
						<td>福岡県</td>
						<td>福岡市早良区南庄3-2-13 D-room南庄弐番館102</td>
						<td></td>
					</tr>
					<tr>
						<td>1</td>
						<td>中島　直也</td>
						<td>1987/10/05</td>
						<td>070-5415-6507</td>
						<td></td>
						<td>814-0031</td>
						<td>福岡県</td>
						<td>福岡市早良区南庄3-2-13 D-room南庄弐番館102</td>
						<td></td>
					</tr>
					<tr>
						<td>1</td>
						<td>中島　直也</td>
						<td>1987/10/05</td>
						<td>070-5415-6507</td>
						<td></td>
						<td>814-0031</td>
						<td>福岡県</td>
						<td>福岡市早良区南庄3-2-13 D-room南庄弐番館102</td>
						<td></td>
					</tr>
					<tr>
						<td>1</td>
						<td>中島　直也</td>
						<td>1987/10/05</td>
						<td>070-5415-6507</td>
						<td></td>
						<td>814-0031</td>
						<td>福岡県</td>
						<td>福岡市早良区南庄3-2-13 D-room南庄弐番館102</td>
						<td></td>
					</tr>
					<tr>
						<td>1</td>
						<td>中島　直也</td>
						<td>1987/10/05</td>
						<td>070-5415-6507</td>
						<td></td>
						<td>814-0031</td>
						<td>福岡県</td>
						<td>福岡市早良区南庄3-2-13 D-room南庄弐番館102</td>
						<td></td>
					</tr>
					<tr>
						<td>1</td>
						<td>中島　直也</td>
						<td>1987/10/05</td>
						<td>070-5415-6507</td>
						<td></td>
						<td>814-0031</td>
						<td>福岡県</td>
						<td>福岡市早良区南庄3-2-13 D-room南庄弐番館102</td>
						<td></td>
					</tr>
					<tr>
						<td>1</td>
						<td>中島　直也</td>
						<td>1987/10/05</td>
						<td>070-5415-6507</td>
						<td></td>
						<td>814-0031</td>
						<td>福岡県</td>
						<td>福岡市早良区南庄3-2-13 D-room南庄弐番館102</td>
						<td></td>
					</tr>
					<tr>
						<td>1</td>
						<td>中島　直也</td>
						<td>1987/10/05</td>
						<td>070-5415-6507</td>
						<td></td>
						<td>814-0031</td>
						<td>福岡県</td>
						<td>福岡市早良区南庄3-2-13 D-room南庄弐番館102</td>
						<td></td>
					</tr>
					<tr>
						<td>1</td>
						<td>中島　直也</td>
						<td>1987/10/05</td>
						<td>070-5415-6507</td>
						<td></td>
						<td>814-0031</td>
						<td>福岡県</td>
						<td>福岡市早良区南庄3-2-13 D-room南庄弐番館102</td>
						<td></td>
					</tr>
					<tr>
						<td>1</td>
						<td>中島　直也</td>
						<td>1987/10/05</td>
						<td>070-5415-6507</td>
						<td></td>
						<td>814-0031</td>
						<td>福岡県</td>
						<td>福岡市早良区南庄3-2-13 D-room南庄弐番館102</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="container">
		<div class="row">
			<div class="harmosPagiNation">
				<nav>
				<ul class="pagination">
					<li><a href="#" aria-label="前のページへ"> <span aria-hidden="true">«</span>
					</a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#" aria-label="次のページへ"> <span aria-hidden="true">»</span>
					</a></li>
				</ul>
				</nav>
			</div>
		</div>
	</div>
	
	<!-- /carousel -->
	<script src="../common/javaScript/jquery-2.1.4.min.js"></script>
	<script src="../common/javaScript/bootstrap.min.js"></script>
	<script src="../common/javaScript/slidebars.min.js"></script>
	
</body>
</html>